*{
  margin: 0;
  padding: 0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}

nav{
  height: 60px;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  }

nav ul {
    display: flex;
       
  }

  nav ul li {
    margin-right: 1rem;
    list-style: none;
  }

nav ul li a {
  color: white;
  text-decoration: none;
  }

.hero {
 /* border: 1px solid red;*/
  height: calc(100vh - 60px);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  /*background-image: url("/images/#");*/
  background-position: center;
  background-size: cover;
}

h1 {
  /*margin-bottom: 1.4rem; top right bottom left*/
  margin: 0 0 1.4rem o;
}
.hero p {
  margin-bottom: 2rem;
}
.cta {
  /*border: 1px solid black;*/
  text-decoration: none;
  background-color: chartreuse;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 3px;
}